body{
	
	font-size:12px;
}
.ui-layout-unit .ui-layout-unit-content, .ui-layout-unit-header{
	
	margin: 0px 4% !important;
	
}

tr.ui-state-hover{
	background:url('../images/gradientBgodd.jpg')repeat-x !important;
	color:#fff !important;
	
}
 .ui-datatable-even{
 background:url('../images/gradientBgeven.jpg')repeat-x !important;
 color:#fff !important;
 }

.ui-datatable-tablewrapper table td{
	text-indent:5px !important;
}
.ui-datatable-tablewrapper table th{
	/*color:#19436a !important;*/
		color:#fff !important;
		font-weight:normal;
		text-shadow:none !important;
		
		background:url('../images/gradientBg.jpg')repeat-x !important;
 /*background: rgb(173,215,255);
background: -moz-linear-gradient(top,  rgba(173,215,255,1) 0%, rgba(152,190,222,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,215,255,1)), color-stop(100%,rgba(152,190,222,1))) !important; 
background: -webkit-linear-gra !importantdient(top,  rgba(173,215,255,1) 0%,rgba(152,190,222,1) 100%) !important; 
background: -o-linear-gradient(top,  rgba(173,215,255,1) 0%,rgba(152,190,222,1) 100%) !important; 
background: -ms-linear-gradient(top,  rgba(173,215,255,1) 0%,rgba(152,190,222,1) 100%) !important; 
background: linear-gradient(to bottom,  rgba(173,215,255,1) 0%,rgba(152,190,222,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add7ff', endColorstr='#98bede',GradientType=0 ) !important; 
*/
}
.ui-widget-header{
/*background: #deefff; 
background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); 
background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); 
background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); 
background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); 
background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); 
*/
color:#fff !important;
background:url('../images/gradientBg.jpg')repeat-x !important;
}




#header hi{
	text-align:left !important;
	
	
}
.ui-breadcrumb ul li a{
text-decoration:none !important;
}
.ui-breadcrumb ul li:first-child span{
	
	background:none!important;
}
.ui-breadcrumb ul li span{
	border-radius: 2px 2px 2px 2	px;
	font-size:12px;
	padding:5px 6px;
	text-decoration:none !important;
	color:#89091b;
	font-weight:normal;
	text-decoration:none !important;
background:#fff;
	
}
 .ui-menuitem-link{
 	color:#fff!important;
 }
.ui-menubar{
	margin:0px 0px 10px 0px;
	color:#fff!important;
	background: #efc5ca; /* Old browsers */
background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
	
}
span.ui-state-default{
	
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 )!important; /* IE6-9 */

}
span.ui-state-active{
	color:#fff!important;
background: #ff5db1; /* Old browsers */

}

.ui-inputfield{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.ui-button{
	color:#fff !important;
/*	background: rgb(167,207,223);
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))) !important; 
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%) !important;
background: -o-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%) !important; 
background: -ms-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%) !important;
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%) !important; 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ) !important;
		text-shadow:none !important;
	*/
	background: #efc5ca; /* Old browsers */
background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ) !important; /* IE6-9 */

	
	
}
.ui-breadcrumb-chevron{
	
	margin-top:6px;
}
.ui-panelgrid td{
	border:none !important;
	
}
.InsHeading{
	
	text-align:left;
	
}
#footer span{
	padding:10px 0px;
	float:left;
	font-size:11px;
	color:#999;
	
}
.loginBox{
	
	width:650px;
	background:#f5f6f8;
	height:270px;
	
}
.loginBox .ui-panel-title{
	
	
	font-family:arial;
	font-size:15px;
	display:none!important;


	
}
.OuterloginBox .ui-widget-header{
	display:none;
}
.ui-button{
	border:0px;
	font-size:13px !important;
	padding:2px 16px !important;
}
.ui-layout-unit-content{
	overflow-x:hidden !important;
	
}
.ui-widget-content tbody td{
	padding:5px 5px 5px 0px !important;
	
}
.closeSlipTable .ui-widget-content{
	border:0px !important;
}
.loginBox {
	
	border:2px solid;
	border-radius:5px;
}
.OuterloginBox .ui-widget-header{
	border-radius:25px;
	
}
.OuterloginBox {
	border-radius:25px;
	margin:15% 25%;
	
}
.loginButtonCls{
	margin:20px 0px;
}
.loginButtonCls .ui-button-text{
	
	padding: .3em 5em;
}
#integralogo{
	width:264px;
	height:65px;
	float:left;
	background:url('../images/integrallogo.jpg') no-repeat;
	
	
}
.loginPassword{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	border-radius: 3px;
	padding:4px;
	border:0px;
	outline: none;
	border: 1px solid #a8a8a8;
	font-size: 1em;

}

.UWdetailsCls table{
	width:100%;	
}